image: golang:1.25.3

options:
  docker: true

definitions:
  services:
    postgres:
      image: postgres:9.6
      environment:
        POSTGRES_USER: "postgres"
        POSTGRES_PASSWORD: "12345"
        POSTGRES_DB: "go_boilerplate"
  caches:
    go: /go/pkg/mod

pipelines:
  branches:
    master:
      - step:
          name: Test (CI)
          services:
            - postgres
          caches:
            - go
          script:
            - go version

            - go mod download

            - mkdir -p internal/config
            - make ec_private
            - make ec_public

            - curl -L https://github.com/golang-migrate/migrate/releases/download/v4.19.0/migrate.linux-amd64.tar.gz | tar xvz
            - mv migrate /usr/local/bin/migrate
            - migrate -version

            - make migrate_up
            - make test_coverage
    development :
      - step:
          name: Test (CI)
          services:
            - postgres
          caches:
            - go
          script:
            - go version

            - go mod download

            - mkdir -p internal/config
            - make ec_private
            - make ec_public

            - curl -L https://github.com/golang-migrate/migrate/releases/download/v4.19.0/migrate.linux-amd64.tar.gz | tar xvz
            - mv migrate /usr/local/bin/migrate
            - migrate -version

            - make migrate_up
            - make test_coverage
      - step:
          name: Build & Push Docker Image
          script:
            - echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin

            - VERSION=$(cat VERSION)

            - docker build -t $DOCKERHUB_REPO:$VERSION -t $DOCKERHUB_REPO:latest .

            - docker push $DOCKERHUB_REPO:$VERSION
            - docker push $DOCKERHUB_REPO:latest
  pull-requests:
    '**':
      - step:
          name: Test (PR)
          services:
            - postgres
          caches:
            - go
          script:
            - go version

            - go mod download

            - mkdir -p internal/config
            - make ec_private
            - make ec_public

            - curl -L https://github.com/golang-migrate/migrate/releases/download/v4.19.0/migrate/releases/download/v4.19.0/migrate.linux-amd64.tar.gz | tar xvz
            - mv migrate /usr/local/bin/migrate
            - migrate -version

            - make migrate_up
            - make test_coverage
