image: golang:1.22

pipelines:
  default:
    - step:
        name: Build & Run
        script:
          - go version
          - go mod tidy
          - go build -o hello .
          - echo "Running app:"
          - ./hello
