version: 2.1

jobs:
  hello_world:
    docker:
      - image: cimg/base:stable
    steps:
      - checkout
      - run:
          name: Say Hello
          command: echo "Hello World from CircleCI!"

workflows:
  version: 2
  hello_world_workflow:
    jobs:
      - hello_world
